
.card-container{
    margin: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}


.titre{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bolder;
    
}

.nouveau{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}