
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Dela+Gothic+One&display=swap');

h1.titrepage{
    font-family: 'Dela Gothic One', cursive;
    font-size: 4em;
    margin-top: 70px;
    text-align: center;
}

.card-container{
    margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
 
}

mat-card:hover{
box-shadow: grey 5px 5px 5px;
}
.titre{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bolder;
    
}

.nouveau{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}